
<div class = "contents row">

<table BORDER="1" WIDTH="600">

<div class="list-table">

<p><%= params[:keyword] %>の投稿一覧</p>

<% @tweets.each do |tweet| if tweet.day >= Date.today %>


<tr>
<td rowspan="6">
<a href="/tweets/<%= tweet.id %>">

<%= image_tag tweet.user.image.url(:thumb) %>
</a>
</td>

<td><a href="/users/<%= tweet.user.id %>">
<%= tweet.user.name %>
</a>
</td>
</tr>

<tr><td>From: <%= tweet.user.place %></td>

</tr>
<tr>
<td>Language: <%= tweet.user.language1 %></td>
</tr>

</tr>
<tr>
<td>Visiting: <%= tweet.place %></td>
</tr>

<tr>
<td><%= tweet.day %></td>
</tr>
<tr>
<td><%= tweet.message %></td>
</tr>

<% end %>

<% end %>

</table>
<%= paginate(@tweets) %>

  </div>
 
</div>


