
<div class = "contents row">

<% if params[:kind] == "Traveler" %>

  <table BORDER="1" WIDTH="900">

  <div class="list-table">

  <div class="timeline-title">
  <p>Travelers in <%= params[:keyword] %></p>
  </div>

  <% @tweets.each do |tweet| if tweet.day >= Date.today %>

  <tr>
  <td rowspan="7">
  <a href="/users/<%= tweet.user.id %>">
  <div class="timeline-pic">
  <%= image_tag tweet.user.image.url(:medium) %>
  </div>
  </a>
  </td>

  <td><div class="timeline-day">
    <%= tweet.day %></div></td>
  </tr>

  <td><a href="/users/<%= tweet.user.id %>">
  <div class ="timeline-name">
  <%= tweet.user.first_name %>
  <%= tweet.user.last_name %>
  </div>
  </a>
  </td>
  

  <tr><td>From: <%= tweet.user.place %></td>
  </tr>
  <tr>
  <td>Speaks: <%= tweet.user.language1 %></td>
  </tr>
  </tr>
  <tr>
  <td>Visiting: <%= tweet.place %></td>
  </tr>
  
  <tr>
  <td><br><%= tweet.message %></td>
  </tr>

<tr><td>
<br>
<a href="/tweets/<%= tweet.id %>">
<img src="/assets/comment.png" width="120">
  </a>
  </td></tr>
  
   <tr><td colspan="2">
    <BR><HR><BR>
  </td></tr>


  <% end %>
  <% end %>

</table>
<%= paginate(@tweets) %>

  </div>

<% end %>



<% if params[:kind] == "Host" %>

  <table BORDER="1" WIDTH="600">

  <div class="list-table">
<div class="timeline-title">
  <p>Resident in <%= params[:keyword] %></p>
  </div>

  <% @users.each do |user| %>

  <tr>
  <td rowspan="2">
  <a href="/users/<%= user.id %>">
  <%= image_tag user.image.url(:medium) %>
  </a>
  </td>
  <td><a href="/users/<%= user.id %>">
  <div class="timeline-name">
  <%= user.first_name %>
  <%= user.last_name %>
  <div>
  </a>
  </td>
  </tr>


  <tr><td>Residence: <%= user.place %></td>
  </tr>

 <tr><td colspan="2">
    <BR><HR><BR>
  </td></tr>


<% end %>



<% end %>
</table>
<%= paginate(@tweets) %>


</div>


