
<!-- Tweetへのメッセージ -->
<!-- <!-- !-- 本人ならTweetを削除、修正できる-->


<!-- <!--<% if user_signed_in? && current_user.id == @tweet.user_id %>
<ul class="more_list">
    <li>
      <%= link_to 'Edit',"/tweets/#{@tweet.id}/edit", method: :get %>
      
    </li>
    <li>
      <%= link_to 'Delete',"/tweets/#{@tweet.id}", method: :delete %>
      
    </li>
  </ul>

<% end %>
  -->

<div class="contents row">
   <p>
  <%= @tweet.message %>
  </p>
  <span class="name">
    <a href="/users/<%= @tweet.user.id %>">
      <span>Poster : </span>
      <%= @tweet.user.first_name %>
      <%= @tweet.user.last_name %>
    </a>
  </span>

  <div class="container">
      <%= form_tag("/tweets/#{@tweet.id}/comments", method: :post) do %>
        <textarea cols="30" name="message" placeholder="Comment" rows="2"></textarea>
        <input type="submit" value="SEND">
      <% end %>

 </div>

   <div class="comments">
     <h4>Comments</h4>
     <% if @comments %>
       <% @comments.each do |comment| %>
         <p>

         <a href="/users/<%= comment.user_id %>">
          <%= image_tag comment.user.image.url(:small) %>
         </a>


           <br>
           <strong><%= link_to comment.user.first_name,"/users/#{comment.user_id}" %></strong>
           <p>
             <%= comment.message %></p>
           <p>
           <%= comment.created_at %></p>
         </p>
         <br><hr><br>
        <% end %>
        <% end %>

    </div>
  </div>