
<!-- Tweetへのメッセージ -->
<!-- <!-- !-- 本人ならTweetを削除、修正できる-->


<!-- <!--<% if user_signed_in? && current_user.id == @tweet.user_id %>
<ul class="more_list">
    <li>
      <%= link_to 'Edit',"/tweets/#{@tweet.id}/edit", method: :get %>
      
    </li>
    <li>
      <%= link_to 'Delete',"/tweets/#{@tweet.id}", method: :delete %>
      
    </li>
  </ul>

<% end %>
  -->



<div class="contents row">

<table BORDER="1" WIDTH="900">



<!-- <div class="list-table"> -->

<tr>
  <td rowspan="2">
 <a href="/users/<%= @tweet.user.id %>">
          <%= image_tag @tweet.user.image.url(:thumb) %>
 </a>
 </td>

<td>
    <a href="/users/<%= @tweet.user.id %>">
    <span class="timeline-name">
      <%= @tweet.user.first_name %>
      <%= @tweet.user.last_name %>
    </span>
    </td>
  </tr>

  <tr><td>
  <%= @tweet.message %>
  </td></tr>

</table>
  </div>



  <div class="container">
      <%= form_tag("/tweets/#{@tweet.id}/comments", method: :post) do %>
        <textarea cols="30" name="message" placeholder="Comment" rows="2"></textarea>
        <input type="submit" value="SEND">
      <% end %>

 

<table BORDER="1" WIDTH="500" Aligh="center">
   <div class="comments">

   <center><h4>Comments</h4></center>
     <% if @comments %>
       <% @comments.each do |comment| %>
         <p>
      
      <tr>
      <td>
         <a href="/users/<%= comment.user_id %>">
          <%= image_tag comment.user.image.url(:small) %>
         </a>
          
      </td>

      <td rowspan="2">
        <%= comment.message %>
      </td>
      </tr>

      <tr><td>
       <strong><%= link_to comment.user.first_name,"/users/#{comment.user_id}" %></strong>
     </td></tr>
      
       <tr><td>
       </td>

       <td>
           <%= comment.created_at %>
         </td></tr>

         <tr><td colspan="2">
          <BR><BR>
         </td></tr>

        
        <% end %>
        <% end %>

    </div>

  </div>
  </table>
  </div>