
<div class = "contents row">


<table BORDER="1" WIDTH="600">

<div class="list-table">


<% @tweets.each do |tweet| %>


<tr>
<td rowspan="6">
<a href="/tweets/<%= tweet.id %>">

<%= image_tag tweet.user.avatar.url(:thumb) if tweet.user.present? %>

</a>
</td>

<td><a href="/users/<%= tweet.user.id if tweet.user.present? %>">
<%= tweet.user.name if tweet.user.present?%>
</a>
</td>
</tr>

<tr><td>From: <%= tweet.user.place if tweet.user.present?%></td>

</tr>
<tr>
<td>Language: <%= tweet.user.language1 if tweet.user.present?%></td>
</tr>

</tr>
<tr>
<td>Visiting: <%= tweet.place %></td>
</tr>

<tr>
<td><%= tweet.day %></td>
</tr>
<tr>
<td><%= tweet.message %></td>
</tr>


<% end %>
</table>
<%= paginate(@tweets) %>

  </div>

</div>



