
<div class= "timeline">

<div class = "contents row">

<table WIDTH="900">

<% @tweets.each do |tweet| if tweet.day >= Date.today %>



<!-- <div class="list-table">  -->


<tr>
<td rowspan="6">
<a href="/tweets/<%= tweet.id %>">
<div class="timeline-pic">
<%= image_tag tweet.user.image.url(:medium) if tweet.user.present? %>
  </div>
</a>
</td>
 
<td>
<%= tweet.day %>
</td>
</tr>



<td><a href="/users/<%= tweet.user.id if tweet.user.present? %>">
<div class="timeline-name">
<%= tweet.user.first_name if tweet.user.present?%>
<%= tweet.user.last_name if tweet.user.present?%>
</div>
</a>
</td>


<tr><td>From: <%= tweet.user.place if tweet.user.present?%></td>

</tr>

<tr>
<td>Speak: <%= tweet.user.language1 if tweet.user.present?%></td>
</tr>

<tr>
<td>Visiting: <%= tweet.place %></td>
</tr>

<tr>
<td><br><%= tweet.message %></td>

</tr>

  <tr><td colspan="2">
    <BR><HR><BR>
  </td></tr>


</div>

<% end %>


<% end %>


</table>


<%= paginate(@tweets) %>

  

</div>
</div>