
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en"></script>


<div class = "contents row">
  <div class="col-lg-12">
    <%= form_for current_user,
    :html => { :multipart => true } do |f| %>

    <h3>Profile Picture</h3>
      <div class="form-group file">

     <!--  <%= image_tag current_user.image.url if current_user.image.present? %> 
      <%= f.label :image %> 
      <br /> -->
      
      <%= f.file_field :image %>
      </div>

      <h3>Information</h3>
      <div class="form-group">
        <div class="col-lg-6">
        First Name:
        <%= f.text_field :first_name %>
        <br>
        Last Name:
        <%= f.text_field :last_name %>
        <br>
        Language:
        <%= f.text_field :language1 %>
        <br>
        Second Language:
        <%= f.text_field :language2 %>
        <br>
        Facebook:
        <%= f.text_field :fb %>
        <br>
        Residence:
        <%= f.text_field :place, id: "place" %>
        
        <script type="text/javascript">
        var input = document.getElementById('place');
        var options = {
        types: ['(cities)'],
         };
         google.maps.event.addDomListener( window, 'load');
         autocomplete = new google.maps.places.Autocomplete( input, options);
        </script>



        </div>
      </div>

      <div class="form-group">
        <%= f.submit "SEND" %>
      </div>
    <% end %>
  </div>
</div>