
<div class= "mypage">

<div class = "contents row">

<div class="mypage-left">

  <%= image_tag @user.image.url(:thumb) %>

</div>



<div class="mypage-main">
   <div class="mypage-name">
   <%= @user.first_name %>
   <%= @user.last_name %>
   </h1>
  </div>

<div class="mypage-sex">
  <%= @user.sex %>,<%= @age %>
  </div>



  <a href="/users/<%= @user.id %>/messages">
    <img src="/assets/envelope.svg" width="32">
  </a>

<div class="mypage-place">
  <%= @user.place %>
  </div>
  <br>
  <div class="mypage-language1">
  <%= @user.language1 %>,
  <%= @user.language2 %>
  </div>
  <br>

   <div class="mypage-fb">
     <a href = "<%= @user.fb %>"><%= @user.fb %></a>
     
   </div>
 <% if current_user.id == @id %>
      <div class="profile_edit">
        <%= link_to "Edit", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%>
      </div>
    <% end %>

<br>

  </div>
  



