
<div class= "mypage">

<div class = "contents row">

<div class="mypage-left">

  <%= image_tag @user.image.url(:thumb) %>

</div>



<div class="mypage-main">
   <div class="mypage-name">
   <%= @user.first_name %>
   <%= @user.last_name %>
   </h1>
  </div>

<div class="mypage-sex">
  <%= @user.sex %>
  </div>

  <a href="/users/<%= @user.id %>/messages">
<img src="/assets/mail.jpg">
  </a>

<div class="mypage-place">
  <%= @user.place %>
  </div>
  <br>
  <div class="mypage-language1">
  <%= @user.language1 %>,
  <%= @user.language2 %>
  </div>
  <br>

   <div class="mypage-fb">
     <a href = "<%= @user.fb %>"><%= @user.fb %></a>
     
   </div>
 <% if current_user.id == @id %>
      <div class="profile_edit">
        <%= link_to "Edit", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%>
      </div>
    <% end %>

<br>
<hr>
<br>

<table BORDER="1" WIDTH="600">
<div class="list-table">

  <p><%= @first_name %>さんの投稿一覧</p>

 <% @tweets.each do |tweet| if tweet.day >= Date.today %>

<tr>
<td rowspan="6">
<a href="/tweets/<%= tweet.id %>">

<%= image_tag tweet.user.image.url(:thumb) %>
</a>
</td>

<td><a href="/users/<%= tweet.user.id %>">
<%= tweet.user.first_name %>
</a>
</td>
</tr>

<tr><td>From: <%= tweet.user.place %></td>

</tr>
<tr>
<td>Language: <%= tweet.user.language1 %></td>
</tr>

</tr>
<tr>
<td>Visiting: <%= tweet.place %></td>
</tr>

<tr>
<td><%= tweet.day %></td>
</tr>
<tr>
<td><%= tweet.message %></td>
</tr>

<% end %>
<% end %>
</table>
<%= paginate(@tweets) %>
</div>


