<!DOCTYPE html>
<html>
<head>
  <title>Takeme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="refresh">
</head>
<body>

<header class="header">
    <div class="header__bar row">
      <h1 class="grid-6">
       <ul class="user__info">
       <li><a href="/">Brari</a></li> 
       <li><a href="/tweets/timeline">TimeLine </a></li></h1>


      </ul>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span>
<%= image_tag current_user.avatar.url(:small) %>
            <ul class="user__info">
              <li>
                <a href="/users/<%= current_user.id %>">My Page</a>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
          <a class="post" href="/tweets/new">POST</a>
        </div>

      <% else %>
        <div class="grid-6">
          <%= link_to "Log in", new_user_session_path, class: 'post' %>
          <%= link_to "Sign up", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>
  </header>

<%= yield %>



</body>
</html>
