<!DOCTYPE html>
<html>
<head>
  <title>Brali</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- <<%= javascript_include_tag :defaults %> -->

  <%= csrf_meta_tags %>
  <meta http-equiv="refresh">
</head>

<!-- Googleã®API> -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvhoPfz4HASHTDQGVir2N5CKcwIdshf3M&libraries=places&language=en">
  </script>


<script type="text/javascript">
var input = document.getElementById( 'keyword');
    var options = {
        types: ['(cities)'],
    };
    autocomplete = new google.maps.places.Autocomplete( input, options);
</script>



<body>

 <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<header class="header">
    <div class="header__bar row">
      <h1 class="grid-6">
       <ul class="user__info">
        <li><a href="/">Brali</a></li>
        <li><a href="/tweets/timeline">TimeLine </a></li>
      </ul>
      </h1>
      
<div class = "search">
  <%= form_tag('/tweets/search', method: :get) do %>
  <select name="kind" id="kind">
    <option>Traveler</option>
    <option>Host</option>
  </select>
  <input name="keyword" id="keyword" value="" type="text">
  <button id="btn-search" title="search" type="submit"></button>
  </input>
</div>

  <% end %>

     
  <% if user_signed_in? %>
       
        <div class="user_nav grid-6">
          <span>
           <%= image_tag current_user.image.url(:small) %>
            <ul class="user_info">
              <li>
                <a href="/users/<%= current_user.id %>">My Page</a>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
          <a class="post" href="/tweets/new">POST</a>
        </div>

      <% else %>
  
        <div class="grid-6">
          <%= link_to "Log in", new_user_session_path, class: 'post' %>
          <%= link_to "Sign up", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
   
      <!-- <div class="lang">
          <a href="/tweets/english>">English</a>
      </div>
 -->

  
  </div>
  </header>

<%= yield %>

  </div>

<footer>
    <div class="text-footer">
    <center>
      Tatsuya Takemura All right reserved.
    </center>
    </div>
    </footer>



</body>
</html>
